{# empty Twig template #}

{% block room_widget %}
    
   

 <div class="panel panel-default" >                
        <div class="panel-heading">{{ form_label(form) }}</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.room_sq) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.room_photo) }}
                </div>
            </div>
           
            <div class="row">

                
                <div class="col-md-12">
                   
                </div>
            </div>
        </div>
    </div>





{% endblock %}

